{{!-- handlebars code for inserting into {{{body}}} element of main.handlebars --}}

<div class="container">

  <!-- Jumbotron Title -->
  <div class="jumbotron jumbo clearfix">
    <img src="/assets/images/hamburger.png" alt="Hamburger cartoon">
    <h1 class="right text-center">Welcome to Eat_Da_Burger</h1>
    <h3 class="text-center">"The sequelized version of the newest burger joint in town!"</h3>
  </div>

</div>

{{!-- add a new burger box --}}

<div class="container add-box">
  <row class="row">
    <div class="col-md-12">

      <h2>Add a new burger to the menu</h2>

      <form class="add-form">
        <span class="form-group">
          <label for="new">Burger name</label>
          <input type="text" id="new" name="name">
        </span>
        <button type="submit" class="add-burger">Add Burger</button>
      </form>

    </div>
  </row>
</div>

{{!-- display list of available burgers on the menu --}}

<div class="container">
  <row class="row">


    <div class="col-md-1"></div>
    <div class="col-md-7">
      <h1>Available burgers!</h1>

      <table>

        {{#each burgers}} {{#if this.devoured}} {{else}}
        <tr>
          <td>
            <span class="label redtext1">{{this.burger_name}}</span>
          </td>

          <td>

            <div class="form-group form-inline">
              <label for="customer" class="control-label"></label>

              <select class="form-control customer-select" id="customer">
                <option hidden>Select customer</option>
                <option class="customer-option" data-id="-1">New customer</option>
                {{#each ../customers}}
                <option class="customer-option" data-id="{{this.id}}">{{customer_name}}{{this.id}}</option>
                {{/each}}
              </select>
            </div>
          </td>

          <td>
            <span class="to-text">to</span>
            <button class="eat-burger" data-id="{{this.id}}">Eat Burger!</button>
          </td>
        </tr>

        {{/if}} {{/each}}
      </table>


    </div>


    {{!-- Display eaten burgers --}}


    <div class="col-md-4">
      <h1>Eaten Burgers</h1>

      <table>

        {{#eatens}} {{#if this.devoured}}

        <tr>
          <td class="redtext2">
            {{this.burger_name}}
          </td>
          <td>
            <span class="eaten-text1"> eaten by:</span>
            <span class="eaten-text2">{{this.Customer.customer_name}}{{customer_id}}</span>
          </td>

          {{else}} {{/if}} {{/eatens}}
        </tr>
      </table>

    </div>

  </row>
</div>

<div class="container">
  <row class="row">

    <div class="col-md-1"></div>

    <div class="col-md-5">

      {{!-- delete a burger option below burger menu --}}

      <hr>
      <h4>Delete a burger from the menu</h4>


      <form class="delete-form">
        <div class="form-group">
          <label for="del">Burger name</label>
          <input type="text" id="del" name="name">
        </div>
        <button type="submit" class="del-burger">Delete Burger</button>
      </form>

    </div>

    <div class="col-md-2"></div>

    <div class="col-md-4">

      {{!-- clear eaten burgers from display and reset burger menu with more of the same ready for eating --}}
      <hr>
      <h4>Clear the empty plates and cook more of the same!</h4>
      <button class="reset-menu">Clear & Cook more</button>
    </div>

  </row>
</div>

{{!-- link to include javascript file containing form logic and api calls --}}

<script src="/assets/javascript/app.js"></script>